# Tag: email-verification

*2 repositories*

[← Back to Index](../README.md)

| Repository | Description | Metadata | Last Pushed |
|---|---|---|---|
| [reacherhq/check-if-email-exists](https://github.com/reacherhq/check-if-email-exists) | Check if an email address exists without sending any email, written in Rust. Comes with a ⚙️ HTTP backend. | `Rust` ★ 8.4k | 2026-03-09 |
| [WICG/email-verification-protocol](https://github.com/WICG/email-verification-protocol) | verified autofill | ★ 567 | 2026-01-12 |